**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.DS_Store
README.md
DOCKER.md
.env
.env.local
.editorconfig
.gitattributes
Dockerfile
.dockerignore
docker-compose.yml
docker-run.sh
docker-run.bat
