<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="WireMock.Net" />
      <package pattern="WireMock.Net.*" />
      <package pattern="SonarAnalyzer.CSharp" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="System.Text.Json" />
      <package pattern="System.Text.Encodings.Web" />
    </packageSource>
  </packageSourceMapping>
</configuration>
